body{
  background: #efefef;
}


.parent{
  border: 1px solid #000;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.blue{
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  background: blue;
  position: absolute;
}

.red{
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  background: red;
}

.yellow{
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  background: yellow;
}

.green{
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  background: green;
}
